.container{
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-auto-rows: 100px;
    grid-auto-columns: 50px;
    grid-gap: 20px;
}

.items{
    background-color: lightcoral;
    border: 2px blue solid;
    border-radius: 2px;
}