*{
    margin: 0%;
    padding: 0;
}


.banner{
    width: 100%;
    height: 100vh;
    background-image:url(girl.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    
    position: absolute;
    top:6%;
    left: 10px;
    height: 60px;
    font-size: 19px;
    font-weight: bold;
    color: black;
    
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 3px;
    position: relative;
    margin-left: 130px;
}

.navbar ul li a{
     text-decoration: none;
    color:white;
    gap: 10px;
    font-size: 20px;
    margin-left: 40px;
}

button{
    background: transparent;
    color: white;
    size: 30px;
}

.content{
    color: white;
   
    
}

.content h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 10%;
    margin-left: 70px;
    font-size: 40px;
}

.content p{
    font-weight: bold;
    color:white;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 25px;
}


.content button{
    margin-top: 50px;
    margin-left: 120px;
    font-size: 20px;
}

.about h1 {
 align-items: center;
}